# Node modules
node_modules/

# Dist files
packages/*/client/
packages/*/node/

# Dist files
lib/

# VuePress Output
dist/

# Vuepress Cache
.cache/

# Vuepress Temp
.temp/

# VS Code Config file
.vscode/

# Rollup Cache
.rollup.cache/

# Typescript build info
*.tsbuildinfo

# Coverage Files
coverage/
