# Vuepress Output
dist/

# Node modules
node_modules/

# Test Coverage
coverage/

# Dist files
lib/

# Rollup cache
.rollup.cache/

# Vuepress Cache
.vuepress/.cache/

# Vuepress Temp
.vuepress/.temp/
