@use "@mr-hope/vuepress-palette" as *;

.page {
  display: block;
  box-sizing: border-box;
  min-height: 100vh;
  padding-left: $sidebarWidth;
  padding-bottom: 2rem;
  background: var(--bgcolor);

  @media (max-width: $screenM) {
    min-height: 100vh;
  }

  // narrow desktop / iPad
  @media (max-width: $screenL) {
    padding-left: $mobileSidebarWidth;
  }

  @media (min-width: ($screenM + 1px)) {
    .theme-container:not(.has-sidebar) & {
      padding-left: 0;
    }
  }

  // wide mobile
  @media (max-width: $screenM) {
    padding-left: 0;
  }

  @media (min-width: $screenXXL) {
    .has-anchor &:not(.blog) {
      padding-right: 16rem;
    }
  }
}
