@use 'sass:color';

@import "../variables";

#{$contentClass} {
  code {
    color: color.scale($textColor, $lightness: 20%);
    padding: 0.25rem 0.5rem;
    margin: 0;
    font-size: 0.85em;
    border-radius: 3px;
    overflow-wrap: break-word;

    .token {
      &.deleted {
        color: #ec5975;
      }

      &.inserted {
        color: var(--accent-color);
      }
    }
  }

  pre,
  pre[class*="language-"] {
    line-height: 1.4;
    padding: 1.25rem 1.5rem;
    margin: 0.85rem 0;
    background: var(--code-bg-color);
    border-radius: 6px;
    overflow: auto;

    code {
      color: var(--grey3);
      padding: 0;
      background: transparent !important;
      border-radius: 0;
    }
  }
}

div[class*="language-"] {
  position: relative;
  background: var(--code-bg-color);
  border-radius: 6px;

  &::before {
    position: absolute;
    z-index: 3;
    top: 0.8em;
    right: 1em;
    font-size: 0.75rem;
  }

  pre,
  pre[class*="language-"] {
    background: transparent;
    position: relative;
    z-index: 1;

    code {
      position: relative !important;
    }
  }

  .highlight-lines {
    user-select: none;
    padding-top: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1.4;
  }

  &:not(.line-numbers-mode) {
    .line-numbers {
      display: none;
    }
  }

  &.line-numbers-mode {
    .highlight-lines .highlight-line {
      position: relative;

      &:before {
        content: " ";
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        display: block;
        width: $lineNumbersWrapperWidth;
        height: 100%;
      }
    }

    pre {
      margin-left: $lineNumbersWrapperWidth;
      padding-left: 1rem;
      vertical-align: middle;
    }

    .line-numbers {
      position: absolute;
      top: 0;
      width: $lineNumbersWrapperWidth;
      text-align: center;
      padding-top: 1.25rem;
      // padding: 1.25rem 0;
      font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
      line-height: 1.4;

      br {
        user-select: none;
      }

      .line-number {
        position: relative;
        z-index: 3;
        user-select: none;
        font-size: 0.85em;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: $lineNumbersWrapperWidth;
      height: 100%;
      border-radius: 6px 0 0 6px;
      background: var(--code-bg-color);
    }
  }
}

@each $lang in $codeLang {
  div[class*="language-"].ext-#{$lang} {
    &:before {
      content: "" + $lang;
    }
  }
}
