@mixin wrapper($contentWidth: 740px, $MQNarrow: 719px, $MQMobileNarrow: 419px) {
  max-width: $contentWidth;
  margin: 0 auto;
  padding: 2rem 2.5rem;

  @media (max-width: $MQNarrow) {
    padding: 1.5rem;
  }

  @media (max-width: $MQMobileNarrow) {
    padding: 1rem 1.5rem;
  }
}
