@use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';

@use 'break-point';
@use 'color-config';
@use 'layout';

@function get-value($variable, $isDark) {
  @if meta.type-of($variable) == color {
    @return $variable;
  } @else if meta.type-of($variable) == list {
    @return if($isDark, list.nth($variable, 2), list.nth($variable, 1));
  } @else {
    @debug "Unexpected variable type #{meta.type-of($variable)}";
    @return transparent;
  }
}

@mixin inject-value($module) {
  $variables: meta.module-variables($module);

  @each $varName, $value in $variables {
    --#{$varName}: #{$value};
  }
}

@mixin inject-color($module, $isDark: false) {
  $variables: meta.module-variables($module);

  @each $varName, $varValue in $variables {
    @if meta.type-of($varValue) == map {
      @each $amount in map.get($varValue, "amount") {    
        --#{$varName}-#{if($amount > 0,"l","d")}#{$amount / 1%}: #{color.scale(
            get-value(map.get($varValue, "color"), $isDark),
            $lightness: $amount
          )};
      }
    } @else {
      --#{$varName}: #{get-value($varValue, $isDark)};
    }
  }
}
