@use '@mr-hope/vuepress-palette' as *;
@use '@mr-hope/vuepress-shared/styles/wrapper';

.page .valine-wrapper {
  @include wrapper.wrapper;

  .v[data-class="v"] {
    * {
      color: var(--grey3);
    }

    &:empty {
      padding: 0;
    }

    hr {
      color: var(--grey14);
    }

    a {
      color: var(--accent-color);

      &:hover {
        color: var(--accent-color);
      }
    }

    pre,
    code {
      color: var(--dark-grey);
      background: var(--code-bg-color);
    }

    blockquote {
      color: var(--dark-grey);
    }

    .vwrap {
      border-color: var(--grey12);

      .vicon.actived {
        fill: var(--accent-color);
      }

      .vemojis,
      .vpreview {
        box-shadow: 0px 0 1px var(--grey12);
      }

      .vheader .vinput {
        border-color: var(--grey12);

        &:focus {
          border-color: var(--accent-color);
        }
      }

      .vcontrol .col {
        color: var(--grey12);
      }

      .vmark {
        .valert {
          .vtext {
            color: var(--bg-color);
          }

          .vcode {
            background: var(--grey12);

            &:focus {
              background: var(--bg-color);
              border-color: var(--accent-color);
            }
          }
        }
      }
    }

    .power {
      color: var(--light-grey);
    }

    .vbtn {
      background: var(--bg-color);

      &:active,
      &:hover {
        color: var(--white);
        background: var(--accent-color);
        border-color: var(--accent-color);
      }
    }

    .vempty {
      color: var(--light-grey);
    }

    .vcount {
      font-size: 1.2em;
    }

    .vcards {
      .vcard {
        .vimg {
          border-color: var(--grey12);
        }

        .vhead {
          .vnick {
            color: var(--accent-color);

            &:after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 1.5px;
              background: var(--accent-color);
              transform: scaleX(0);
              transition: 0.2s ease-in-out;
            }

            &:hover:after {
              transform: scaleX(1);
            }
          }

          .vsys {
            background: var(--grey14);
            color: var(--light-grey);
          }
        }

        .vh {
          border-color: var(--grey12);

          .vtime {
            color: var(--light-grey);
          }

          .vmeta .vat {
            color: var(--accent-color);

            &:hover {
              color: var(--accent-color-d10);
            }
          }
        }

        .vcontent {
          color: var(--grey4);

          &.expand:after {
            color: var(--grey);
          }
        }

        .vquote {
          color: var(--dark-grey);
        }
      }
    }

    .vpower {
      display: none;
    }
  }
}
